mat-toolbar{
    background: none;
    border-bottom: 1px;
    border-top: 1px;
    border-bottom-color: #f5f5f5;
    border-top-color: #f5f5f5;
    border-bottom-style: outset;
    border-top-style: outset;
}

.back{
    font-size: 39px;
    line-height: 1.5;
}